// === Color palette ===

$c-concrete: #f3f3f3;
$c-salmon: #ff7f66;
$c-mako: #3e454c;
$c-pale-sky: #6a7783;
$c-regent-gray: #8a98a7;
$c-outer-space: #2c3136;

// === / Color palette ===

// === Mixins ===

@mixin reset-button {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    text-transform: inherit;
}

// === / Mixins ===

/* === Common === */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline-color: $c-salmon;
}

html {
    height: 100%;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(
        to bottom,
        rgb(207, 215, 208) 0%,
        rgb(244, 195, 167) 23%,
        rgb(224, 181, 166) 54%,
        rgb(163, 162, 168) 74%,
        rgb(99, 110, 127) 100%
    );
    line-height: 1.15;
    font-size: 16px;
    font-family: "Gotham Rounded Medium", sans-serif;
}

@font-face {
    font-family: "Gotham Rounded Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Gotham Rounded Medium"), url("../fonts/Gotham_Rounded_Medium.woff") format("woff");
}

/* === / Common === */

/* === Button === */

.button {
    @include reset-button;

    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &_rounded {
        border-radius: 4px;
    }

    &_font-size_12 {
        font-size: 12px;
    }

    &_font-size_14 {
        font-size: 14px;
    }

    &_size_35 {
        height: 35px;
        padding: 0 10px;
    }

    &_size_45 {
        height: 45px;
        padding: 0 20px;
    }

    &_bg-color_salmon {
        background-color: $c-salmon;
    }

    &_bg-color_outer-space {
        background-color: $c-outer-space;
    }

    &_text-color_salmon {
        color: $c-salmon;
    }

    &__text {
        &_right-indent {
            margin-right: 12px;
        }  
    } 
}

/* === / Button === */

/* === Icon === */

.icon {
    display: inline-block;
    background-repeat: no-repeat;

    &_img_cross {
        background-image: inline("../images/cross-circle.svg");
    }

    &_img_plus {
        background-image: inline("../images/plus-circle.svg");
    }

    &_img_search {
        background-image: inline("../images/search.svg");
    }

    &_img_arrow-right {
        background-image: inline("../images/arrow-circle-right.svg");
    }

    &_img_arrow-left {
        transform: rotate(180deg);
        background-image: inline("../images/arrow-circle-right.svg");
    }

    &_size_14 {
        width: 14px;
        height: 14px;
    }
}

/* === / Icon === */

/* === Calendar === */

.calendar {
    display: grid;
    grid-template-columns: auto 228px;

    &__header {
        height: 98px;
    }

    &__main-content,
    &__side-bar {
        padding-bottom: 68px;
    }

    &__main-content {
        border-radius: 5px 0 0 5px;
        padding: 0 36px;
    }

    &__side-bar {
        border-radius: 0 5px 5px 0;
    }
}

/* === / Calendar === */

/* === Events + Schedule === */

.schedule,
.events {
    text-transform: uppercase;

    &__header {
        display: flex;
        align-items: flex-end;
        padding-bottom: 23px;
    }
}

/* === / Events + Schedule === */

/* === Schedule === */

.schedule {
    background-color: $c-concrete;
    color: $c-mako;

    &__header {
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    &__year {
        color: $c-salmon;
        font-size: 16px;
    }

    &__curr-month {
        color: $c-pale-sky;
        font-size: 24px;
    }
}

/* === / Schedule === */

/* === Events === */

.events {
    background-color: $c-mako;
    color: $c-regent-gray;

    &__header {
        display: flex;
        justify-content: center;
        position: relative;
        color: $c-salmon;
        font-size: 16px;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 4px;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $c-pale-sky;
        }
    }

    &__list {
        padding-top: 16px;
        padding-bottom: 36px;
        padding-left: 40px;
        padding-right: 17px;
    }

    &__buttons {
        display: flex;
        padding-left: 40px;
    }

    &__edit-button {
        margin-right: 14px;
    }
}

/* === / Events === */

/* === Entry List === */

.entry-list {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
    }

    &__title {
        position: relative;
        flex-grow: 1;
        padding-top: 12px;
        padding-bottom: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $c-pale-sky;
        }
    }

    &__remove-button {
        visibility: hidden;
        flex-shrink: 0;
    }

    &__item:hover &__remove-button {
        visibility: visible;
    }
}

/* === / Entry List === */
