// === Color palette ===

$c-concrete: #f3f3f3;
$c-salmon: #ff7f66;
$c-mako: #3e454c;
$c-pale-sky: #6a7783;
$c-regent-gray: #8a98a7;
$c-outer-space: #2c3136;

// === / Color palette ===

// === Mixins ===

@mixin reset-button {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    text-transform: inherit;
}

// === / Mixins ===

// === Common ===

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(
        to bottom,
        rgb(207, 215, 208) 0%,
        rgb(244, 195, 167) 23%,
        rgb(224, 181, 166) 54%,
        rgb(163, 162, 168) 74%,
        rgb(99, 110, 127) 100%
    );
    line-height: 1.15;
    font-family: "Gotham Rounded Medium", sans-serif;
}

@font-face {
    font-family: "Gotham Rounded Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Gotham Rounded Medium"), url("../fonts/Gotham_Rounded_Medium.woff") format("woff");
}

// === / Common ===

// === Calendar ===

.calendar {
    display: grid;
    grid-template-columns: auto 228px;

    &__header {
        height: 98px;
    }

    &__main-content,
    &__side-bar {
        padding-bottom: 20px;
    }
}

.schedule,
.events {
    text-transform: uppercase;

    &__header {
        display: flex;
        align-items: flex-end;
        padding-bottom: 23px;
    }
}

.schedule {
    border-radius: 5px 0 0 5px;
    background-color: $c-concrete;
    color: $c-mako;

    &__year {
        color: $c-salmon;
        font-size: 16px;
    }

    &__curr-month {
        color: $c-pale-sky;
        font-size: 24px;
    }
}

.events {
    border-radius: 0 5px 5px 0;
    background-color: $c-mako;
    color: $c-regent-gray;

    &__header {
        display: flex;
        justify-content: center;
        position: relative;
        color: $c-salmon;
        font-size: 16px;

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 4px;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $c-pale-sky;
        }
    }

    &__content {
        min-height: 238px;
        padding-top: 16px;
        padding-bottom: 30px;
    }

    &__list {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 154px;
    }

    &__item {
        position: relative;
        padding-top: 32px;
        padding-bottom: 16px;
        padding-right: 16px;
        white-space: nowrap;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            background-color: $c-pale-sky;
        }

        .delete-button {
            @include reset-button;

            position: absolute;
            right: 0;
            width: 14px;
            height: 14px;
            line-height: 14px;
            font-size: 9px;
            background-color: $c-salmon;
            color: $c-mako;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

// === / Calendar ===

// === Button ===

.button {
    @include reset-button;

    cursor: pointer;
}

.button_type_raised {
    background-color: $c-concrete;
    border-radius: 3px;
}

.button_type_circular {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: $c-salmon;
    border-radius: 50%;
}

.button_type_flat {

}

// === / Button ===
