// === Color palette ===

$c-concrete: #f3f3f3; 
$c-salmon: #ff7f66; 
$c-mako: #3e454c; 
$c-pale-sky: #6a7783;
$c-regent-gray: #8a98a7;
$c-outer-space: #2c3136;

// === / Color palette ===

// === Common ===

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 100%;
    margin: 0;
    background: linear-gradient(
        to bottom,
        rgb(207, 215, 208) 0%,
        rgb(244, 195, 167) 23%,
        rgb(224, 181, 166) 54%,
        rgb(163, 162, 168) 74%,
        rgb(99, 110, 127) 100%
    );
    line-height: 1.15;
    font-family: "Gotham Rounded Medium", sans-serif;
}

@font-face {
    font-family: "Gotham Rounded Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Gotham Rounded Medium"), url("../fonts/Gotham_Rounded_Medium.woff") format("woff");
}

// === / Common ===

// === Calendar ===

.calendar-outer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendar,
.events {
    padding: 20px;
    text-transform: uppercase;

    .header {

    }
}

.calendar {
    border-radius: 5px 0 0 5px;
    background-color: $c-concrete;
    color: $c-mako
}

.events {
    border-radius: 0 5px 5px 0;
    background-color: $c-mako;
    color: $c-regent-gray;
}

// === / Calendar ===
